@model DetailWork

<table class="table">
    <thead>
        <tr>
            <th>
                konu
            </th>
            <th>
                açıklama
            </th>
            <th>
                Kim açtı
            </th>
            <th>
               durum
            </th>
            <th>
                ilerleme
            </th>
            <th>
                açılma
            </th>
            <th>
                güncelleme
            </th>
            <th>
                istenen
            </th>
            <th>
                bitirme
            </th>
            <th>
                kullanıcı
            </th>
            <th>
                kategori
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
        <th>
            @Model.Title
        </th>
        <th>
            @Model.Description
        </th>
        <th>
           @Model.WhoIsCreate
        </th>
        <th>
            @Model.Status
        </th>
        <th>
            @Model.Progress
        </th>
        <th>
            @Model.Create
        </th>
        <th>
            @Model.Update
        </th>
        <th>
            @Model.DeadLine
        </th>
        <th>
            @Model.Finished
        </th>
        <th>
            @Model.AppUser
        </th>
        <th>
            @Model.Categories
        </th>
        <th></th>
        </tr>

    </tbody>
</table>
